* {
    box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	font-family: Tahoma, Geneva, sans-serif;
}

body {
    background-color: beige;
    background-image: url("../images/seven.png");
    background-position: center;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-attachment: fixed;
    background-size: 1200px;
}

.welcome {
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 470px;
    background-color: #193446;
    padding: 20px;
}

.welcome img {
	width: auto;
	height: auto;
	margin: 10px;
}

.welcome h1, .welcome h2 {
    color: white;
}

.welcome h1 {
    font-size: 3em;
}
.welcome h2 {
    font-size: 2em;
}

.navbar-container {
  display: flex; 
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-between;
  background: #48120e;
  box-shadow: 2px 2px 2px 2px;
}

.navbar-item {
	 text-align: center;
	 background: #48120e;
	 padding: 10px;
    cursor:default;
}

.navbar-item:hover {
    background: #28120e;
}

.navbar-fixed {
    top: 0;
    z-index: 10;
    position: fixed;
    width: 100%;
}


.navbar-item > p {
	 font-size: 1.3em;
	 color: #f8f3e6;
}

.articles-item {
	margin: 5px;
    margin-bottom: 10px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	background-color: burlywood;
    box-shadow: 2px 2px 2px;
    border-radius: 5px;
    min-height: 300px;
    border-left: 7px solid #193446;
}

.articles-title {
	align-self: flex-start;
    background: #193446;
	color: white;
	font-size: 1.3em;
    padding-right: 5px;
    padding-left: 3px;
    padding-bottom: 3px;
    border-radius: 0px 5px 5px 0px;
    margin-left: -12px;
    margin-bottom: 7px;
    text-align: left;
}

.articles-item > p {
	color: #193446;
    text-align: justify;
}

.articles-link{
    width: 100%;
    margin: auto;
    text-align: center;
    text-decoration: none;
}

a.articles-link{
    width: 100%;
    margin: auto;
    text-align: center;
    text-decoration: none;
}

.articles-categories{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: space-between;
}
.article-categorie{
    background-color: #193446;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.articles-container {
	display: flex; 
  	flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    padding: 20px;
}


h1 {
	font-size: 3em;
	text-align: center;
	color: #193446;
	padding: 20px;
}

h2 {
	align-self: flex-end;
	color: #193446;
	font-size: 1.3em;
}

.dropdown-content {
    position: absolute;
    display: none;
	color: #193446;
	font-size: 1.3em;
    background-color: floralwhite;
    width: 100%;
    height: 500px;
    margin-top: 7px;
    
    z-index: 40;
    overflow: auto;
    cursor: pointer;
    right: 0px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px outset beige;
}

.dropdown-content a:last-child {
    border-bottom: none;
}

.dropdown-content a:hover {
	background-color: #e58b4e;
    font-size: 1.1em;
    color: #f8f3e6;
    background: #28120e;
    
}

.navbar-item:hover .dropdown-content {
    box-shadow: 2px 2px 2px;
}

.div-meteo{
    color:red;
    text-align: center;
    height:210;
    width: auto;
}


footer {
    display: flex;
    flex-direction: column;
    min-height: 300px;
    justify-content: space-between;
    text-align: center;
    background: #48120e; 
}

.footer-div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    min-height: 300px;
    justify-content: space-around;
    text-align: center;
    padding: 20px;
}

footer > div > div{
    width: auto;
	height: auto;
    margin-bottom: 40px;
}


footer > p {
    width: 100%;
    font-size: 2em;
    text-align: center;
    padding: 20px;
    color : beige;
}

footer > div > div p {
    width: auto;
    font-size: 1.3em;
    text-align: center;
    padding: 0px;
    color : white;
}

footer img {
    border-radius: 50%;
    border: 5px solid #ddd;
    max-height: 200px;
	width: auto;
	height: auto;
	margin: 10px;
    transition: max-height 1s;
}

footer img:hover {
    box-shadow: 0 0 5px 2px rgba(0, 140, 186, 0.5);
    max-height: 300px;
}


/* Horoscope table*/
#horoscope-container {
    display: none;
    z-index: 30;
}

.horoscope {
    background: white;
    border: 3px solid #3F3F3F;
    margin: auto;
    width: 80%;
    min-height: 200px;
    display: flex; 
  	flex-wrap: wrap;
    flex-direction: row;
    margin-top: 10px;
    box-shadow: 0 0 5px 2px rgba(0, 140, 186, 0.5);
}

.horoscope > p {
    width: 100%;
    text-align: center;
    font-size: 2em;
    font-family: arial, helvetica, sans-serif;
    color: white;
    background: #3F3F3F;
    cursor:default;
}

.horoscope-item {
	display: flex;
	flex-direction: row;
    align-items: center;
}

.horoscope-image {
    width: auto;
}

.horoscope-info {
    width: auto;
    align-content: center;
}

.horoscope-info p a {
    color: blue;
}

.horoscope .horoscope-info p {
    font-family: arial, helvetica, sans-serif;
    font-style: italic;
    color : "#3F3F3F";
    font-size: 0.85em;
}
/* end Horoscope table*/

.w3-card-2 {
    background: #293446;
    color: white;
} 

.articles-search input {
    width: 75%;
    text-align: center;
    height: 50px;
    border: solid #293446;
    border-radius: 10px;
    font-size: 1.5em;
    color: #48120e;
    color: cadetblue;
}

.articles-search {
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    padding: 0px;
}

