* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	font-family: Tahoma, Geneva, sans-serif;
}
table{
	background:transparent;
}
body {
    background-color: beige;
    background-image: url("../images/seven.png");
    background-position: center;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-attachment: fixed;
    background-size: 1400px;
}

.navbar-container {
  width: 100%;
  display: flex; 
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.navbar-item {
	 border: 1px solid #f8f3e6;
	 text-align: center;
	 background: #48120e;
     box-shadow: 2px 2px 2px;
	 padding: 10px;
}

.navbar-fixed {
    top: 0;
    z-index: 100;
  position: fixed;
    width: 100%;
}

img {
	max-height: 50px;
	min-width: 30px;
	width: auto;
	height: auto;
	margin: 10px;
}

.navbar-item > p {
	 font-size: 1.3em;
	 color: #f8f3e6;
}

.articles-item {
	margin: 10px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	text-align: justify;
	background-color: burlywood;
    box-shadow: 2px 2px 2px;
    border-radius: 5px;
}

.articles-item > p {
	color: #193446;
}

.articles-link{
    margin: 20px;
    text-align: center;
    text-decoration: none;
    padding: 10px;
}

img {
	max-height: 50px;
	min-width: 30px;
	width: auto;
	height: auto;
	margin: 10px;
}

.articles-container {
	display: flex; 
  	flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    padding: 20px;
}


h1 {
	font-size: 3em;
	text-align: center;
	color: #193446;
	padding: 20px;
}

h2 {
	align-self: flex-end;
	color: #193446;
	font-size: 1.3em;
}

.dropdown-content {
	align-self: flex-end;
	color: #193446;
	font-size: 1.3em;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: burlywood;
    width: 25%;
    min-width: 160px;
    left: 0;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
	background-color: #e58b4e;
}

.navbar-item:hover .dropdown-content {
    box-shadow: 2px 2px 2px;
}

.div-meteo{
    color:red;
    text-align: center;
    height:210;
    width: auto;
    background-image: url("../images/nav.png");
}