<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>LeSept</title>
    <link rel="shortcut icon" type="image/png" href="images/favicon.png">
	<link rel="stylesheet" href="css/styles.css">
	<link rel="stylesheet" href="css/media.css">
      
      <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      
      <!-- Angular library -->
    <script src="//code.angularjs.org/snapshot/angular.min.js"></script>
    <script src="//code.angularjs.org/snapshot/angular-sanitize.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
      
    <!-- Google Feed Api -->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
      
  </head>
  
  <body ng-app="myApp" ng-strict-di ng-controller="pageController">
    <header>
      <div class="div-meteo">
            <iframe id="forecast_embed" type="text/html" frameborder="0" height="210" width="50%" src="http://forecast.io/embed/#lat=45.441224&lon=4.385991&name=Saint-etienne&color=#00aaff&font=Georgia&units=uk">
            </iframe>
        </div>
        
        <!-- Hamburger menu -->
        <div class="openHamburger">
            <img src="./images/openHamburger.png">
        </div>
        
        <div class="closeHamburger">
            <img src="./images/closeHamburger.png">
        </div>
        <!-- end Hamburger menu -->
        
      <nav>
        <div id="navbar-container" class="navbar-container">
          <div id="navbar-login" class="col-lg-3 col-md-3 col-sm-12 navbar-item">
          	<p>Preferences</p>              
          </div>
        
          <div id="navbar-meteo" class="col-lg-3 col-md-6 col-sm-12 navbar-item">
            	<p>Horoscope</p>
		  </div>
		  
          <div id="navbar-category" class="col-lg-3 col-md-3 col-sm-12 navbar-item">
          	<p>Categories</p>
          	<div class="dropdown-content">
                <a ng-repeat="cat in allCategories" ng-click="actualize(cat)">{{cat}}</a>
  			</div>
          </div>	
        </div>
      </nav>
    </header>
    
      <!-- The horoscope code goes here -->
    <div id="horoscope-container" ng-include="'horoscope.html'"></div>
      
      <!-- The preferences code goes here -->
    <div id="preferences-container" ng-include="'preferences.html'"></div>
      
      <div id="articles-container" class="articles-container" ng-controller="articlesSpace">
          
          <h1 class="col-lg-12 col-sm-12 col-md-12" ng-bind="category">{{category}}</h1>
          <div class="articles-item {{article.type}}" ng-repeat="article in articles|orderBy: '-date' as results">
              <p class="articles-date">{{article.date}}</p>
              <p class="articles-media">{{article.media}}</p>
              <h2 class="articles-title">{{article.title}}</h2>
              <p class="articles-content">{{article.contentSnippet}}</p>
              <a class="articles-link col-sm-4" href={{article.link}}>Lire l'article sur le web</a>              
              <div class="articles-categories" ng-repeat="subject in article.categories">{{subject}}</div>
          </div>
      </div>
      
      
      <footer>
          <p>Made with love by Aymeric, Chen, Fidèle and Leticia</p>
          <div>
              <img src="./images/aymeric.jpg" alt="Aymeric">
              <p>Aymeric</p>
          </div>
          
          <div>
              <img src="./images/chen.jpg" alt="Chen">
              <p>Chen</p>
          </div>
          
          <div>
              <img src="./images/fidele.jpg" alt="Fidèle">
              <p>Fidèle</p>
          </div>
          
          <div>
              <img src="./images/leticia.jpg" alt="Leticia">
              <p>Leticia</p>
          </div>
     </footer>
  	

  </body>
    
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/sourcesData.js"></script>
    <script type="text/javascript">
        google.load("feeds", "1");
    </script>
    <script type="text/javascript" src="js/angularjs.js"></script>
    
</html>